.zawartosc{
   background-color: #f5f5f5;
   margin-left: auto;
   margin-right: auto;
/*   text-align: center;*/
}
/*body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;    
    
}*/
.navbar-default {
    background-color: #111;
    
}
        
/*  background-image: url('../nav2.png');
   border-color: #000000;
    
}
.navbar-default .navbar-brand {
    color: #000;
}
navbar-default .navbar-nav > li > a {
    color: #000;
}*/

/*div#content {
width: 100%; background: #d9edf7 ;
}*/

.footer{
    background-color: gray;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 20px;
}

.panel{
    
     border-color: #c4e3f3;
}

.panel-footer{
    color: red;
    font-size: 20px;
   text-align: right;
}
.navbar-default .navbar-brand {
    color: #B4B4B4;
}
.navbar-default .navbar-nav > li > a {
    color: #B4B4B4;
 font-size: 15px;
}